.projects {
  margin: 5%;
}

#projects-title {
  font-size: 39px;
  border-bottom: 3px solid #4f3aa0;
  width: 220px;
}



.self-desc-txt {
  font-size: 17px;
}

.project-item {
  background-color: rgb(102, 102, 102);
  width: 50%;
  height: 250px;
  border-radius: 19px;
}

.projects-content {
  margin: 5%;
}

.projects__subtitle {
  padding-top: 30px;
  margin-bottom: 0;
}

.projects__title {
  margin-top: 3%;
  border: none;
}

.left {
  margin-left: 10%;
}

.right {
  margin-left: 40%;
}

button {
  background-color: #4f3aa0;
  color: #F8F0E4;
  cursor: pointer;
  width: 130px;
  height: 50px;
  border-radius: 19px;
  border: none;
  font-size: 21px;
}

button:hover {
  transition: 1s;
  background-color: #F8F0E4;
  color: #4f3aa0;
  font-weight: 500;
}

/*----------# Languages Section Styles #----------*/

.languages {
  margin: 5%;
}

#lang {
  border-bottom: 3px solid #4f3aa0;
  width: 145px;
}

.languages-list {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.languages-level {
  color: #adadad;
  display: flex;
  align-items: center;
  padding: 3%;
  border-left: 3px solid #4f3aa0;
  height: 25px;
}