#contacts {
  width: 165px;
}

.contacts-list {
  list-style: none;
}

.contacts-item {
  padding: 1%;
}

.contacts-media {
  font-weight: 600;
}

.media-link {
  color: #adadad;
}

/*----------------# Media Queries For Phones #----------------*/

@media (min-width: 250px) and (max-width: 500px) {
  .contacts-item {
    font-size: 16px;
  }
}

/*-----------------# Footer Part Styles #-----------------*/

footer {
  display: flex;
  align-items: center;
}

footer > ul {
  flex-basis: 100%;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

footer > ul > li {
  flex-basis: 30%;
  text-align: center;
}

.rsschool-img {
  width: 100px;
  height: auto;
}

.rsschool-img:hover {
  opacity: 0.7;
}

.mini {
  font-size: 23px;
  font-weight: 600;
}

/*----------------# Media Queries For Phones #----------------*/

@media (min-width: 250px) and (max-width: 500px) {
  .rsschool-img {
    width: 50px;
    height: auto;
  }

  footer > ul {
    font-size: 16px;
  }
}