.projects {
  margin: 5%;
}

#projects-title {
  font-size: 39px;
  border-bottom: 3px solid #4f3aa0;
  width: 220px;
}

.self-desc-txt {
  font-size: 17px;
}

.project-item {
  margin: 5% 0;
  border: 1px solid #E12179;
  width: 50%;
  height: 250px;
  border-radius: 19px;
}

.projects-content {
  margin-top: -3%;
  margin-left: 5%;
  margin-right: 5%;
}

.projects__subtitle {
  padding-top: 30px;
  margin-bottom: 0;
}

.projects__title {
  margin-top: 3%;
  border: none;
}

.left {
  margin-left: 10%;
}

.right {
  margin-left: 40%;
}

.projects-link {
  background-color: #4f3aa0;
  color: #F8F0E4;
  cursor: pointer;
  width: 130px;
  height: 50px;
  border-radius: 19px;
  border: none;
  font-size: 21px;
  padding: 2%;
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.projects-link:hover {
  transition: ease-in-out 0.5s;
  background-color: #E12179;
  color: #F8F0E4;
  font-weight: 500;
}


/*----------------# Media Queries For Tablets #----------------*/

@media (min-width: 750px) and (max-width: 970px) {
  button {
    width: 110px;
    height: 40px;
    font-size: 16px;
    margin-top: -5px;
    border-radius: 15px;
  }

  .projects-content > p {
    font-size: 19px;
  }
}

/*----------------# Media Queries For Phones #----------------*/

@media (min-width: 250px) and (max-width: 749px) {
  .projects {
    text-align: center;
  }
  
  button {
    width: 80px;
    height: 30px;
    font-size: 13px;
    margin-top: -5px;
    border-radius: 15px;
  }
  
  .projects-content > p {
    font-size: 15px;
  }

  .project-item {
    width: 50%;
    height: 220px;
  }

  .left, .right {
    margin: 0;
  }
  
}

/*----------# Languages Section Styles #----------*/

.languages {
  margin: 5%;
}

#lang {
  border-bottom: 3px solid #4f3aa0;
  width: 145px;
}

.languages-list {
  font-size: 21px;
  font-weight: 600;
  display: flex;
  justify-content: space-around;
}

.languages-level {
  color: #adadad;
  display: flex;
  align-items: center;
  padding: 3%;
  border-left: 3px solid #4f3aa0;
  height: 25px;
}

/*----------------# Media Queries For Phones #----------------*/

@media (min-width: 250px) and (max-width: 550px) {

  .langs-wrapper {
    display: flex;
    align-items: center;
  }

  .languages-list {
    display: block;
  }

  .languages-level {
    border: none;
    display: inline-block;
    height: 25px;
    margin-bottom: 7%;
  }
}